<div class="content">

      <div class="post-rows">
        <div class="row">
          <div class="recent-post-container">
            <div class="inner-container">
              <div class="inner-header">
                Date:11/11/2011
              </div>
              <div class="post-content">
                <img src="http://vignette1.wikia.nocookie.net/lapis/images/3/3c/Mario_8Bit.png/revision/latest?cb=20141110215924" class="post-image"/>
              </div>
            </div>
            <div class="likes-button">
              <span class="button">Likes: 10</span>
              <span class="button">Comm: 10</span>
            </div>
          </div>
          <div class="recent-post-container">
            <div class="inner-container">
              <div class="inner-header">
                Date:11/11/2011
              </div>
              <div class="post-content">
                <img src="http://vignette1.wikia.nocookie.net/lapis/images/3/3c/Mario_8Bit.png/revision/latest?cb=20141110215924" class="post-image"/>
              </div>
            </div>
            <div class="likes-button">
              <span class="button">Likes: 10</span>
              <span class="button">Comm: 10</span>
            </div>
          </div>
          <div class="recent-post-container">
            <div class="inner-container">
              <div class="inner-header">
                Date:11/11/2011
              </div>
              <div class="post-content">
                <img src="http://vignette1.wikia.nocookie.net/lapis/images/3/3c/Mario_8Bit.png/revision/latest?cb=20141110215924" class="post-image"/>
              </div>
            </div>
            <div class="likes-button">
              <span class="button">Likes: 10</span>
              <span class="button">Comm: 10</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="recent-post-container">
            <div class="inner-container">
              <div class="inner-header">
                Date:11/11/2011
              </div>
              <div class="post-content">
                <img src="http://vignette1.wikia.nocookie.net/lapis/images/3/3c/Mario_8Bit.png/revision/latest?cb=20141110215924" class="post-image"/>
              </div>
            </div>
            <div class="likes-button">
              <span class="button">Likes: 10</span>
              <span class="button">Comm: 10</span>
            </div>
          </div>
          <div class="recent-post-container">
            <div class="inner-container">
              <div class="inner-header">
                Date:11/11/2011
              </div>
              <div class="post-content">
                <img src="http://vignette1.wikia.nocookie.net/lapis/images/3/3c/Mario_8Bit.png/revision/latest?cb=20141110215924" class="post-image"/>
              </div>
            </div>
            <div class="likes-button">
              <span class="button">Likes: 10</span>
              <span class="button">Comm: 10</span>
            </div>
          </div>
          <div class="recent-post-container">
            <div class="inner-container">
              <div class="inner-header">
                Date:11/11/2011
              </div>
              <div class="post-content">
                <img src="http://vignette1.wikia.nocookie.net/lapis/images/3/3c/Mario_8Bit.png/revision/latest?cb=20141110215924" class="post-image"/>
              </div>
            </div>
            <div class="likes-button">
              <span class="button">Likes: 10</span>
              <span class="button">Comm: 10</span>
            </div>
          </div>
        </div>

        <!-- these dont do anything right now but might once we do this for real -->
        <div class="tools">
          <div class="tool-item">Recent Comments</div>
          <div class="tool-item">Recent Posts</div>
          <div class="tool-item">Recent Likes</div>
          <div class="tool-item">Followers</div>
        </div>
      </div>

    </div>