
<div class= "mainPaper">
  <h1 class="contentTitle">
    Welcome to InstaKilogram
  </h1>
  <div class="contentText">
  1000 times better than your Instagram
  </div>
  <div class="centerbutton">
  <!-- <button class="btn" href="file:///C:/Users/alex8_000/Documents/instaKiloGram/html/dashboard.html">Log In</button>
  <button class="btn" href="file:///C:/Users/alex8_000/Documents/instaKiloGram/html/dashboard.html">Sign Up</button> -->
  <a href="./dashboard" class="button">Log In</a>
  <a href="./dashboard" class="button">Sign Up</a>
  </div>
</div>

