<div class="content">
  <div class="center">
    <div >Welcome, {{name}}
  </div>
  <div>
    <img src="{{profilePicture}}" class="personalPhoto1" alt="adorable puppies">
  </div>
  <div>Followers: {{followers}}</div>
</div>
