<div class="content">
  <div class="search-header">
    <i class="fa fa-search search-icon"></i>
    <input class="search-field" type="text" placeholder="Search..."></input>
    <button class="button save-search-button" onclick="search()">Search</button>
  </div>
  <div class="search-results">
    <div class="results-panel">
      <div class="results-label search-result">
        Results...
      </div>
      {{#each content}}
        <div class="results-label search-result">
          <div>
            <div>
              <script language="javascript">
                var jsonDate = {{this.created_time}};
                var date = new Date(parseInt(jsonDate) * 1000);
                document.write(date.getDate() + "/" + (date.getMonth()+1) +"/"+date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes());
              </script>
            </div>
            <div>
                <img src="{{this.images.thumbnail.url}}" class="search-image"/>
            </div>
          </div>
          <div class="search-likes">
            <span class="button">Likes: {{this.likes.count}}</span>
            <span class="button">Comm: {{this.comments.count}}</span>
          </div>
        </div>
      {{/each}}
  </div>
</div>
