<div class="content">
  <div class="search-header">
    <i class="fa fa-search search-icon"></i>
    <input class="search-field" type="text" placeholder="Search..."></input>
  </div>
  <div class="search-results">
    <div class="results-panel">
      <div class="results-label search-result">
        Results...
      </div>
    </div>
    <div class="saved-searches">
      <div class="saved-search-label saved-search">
        Saved Searches
      </div>
    </div>
    <div id="save-search-label">
      <span class="button save-search-button">Save Search</span>
    </div>
  </div>
</div>
