body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(95,124,138,0.5);
}

.header {
  position: fixed;
  z-index: 9;
  top: 0;
  padding: 20px;
  width: 100%;
  background-color: rgb(0,149,135);
  color: white;
  font-size: 200%;
  text-align: center;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(17,67,121);
  color: white;
  text-align: center; 
}

.container {
  width: 80%;
  height: 100%;
  position: relative;
  margin: auto;
  transition: all .5s ease;
  min-width: 1000px;
}

.content {
  margin-top: 100px;
}

.header-icon {
  position: absolute;
  left: 30px;
  margin-left: 0px;
  cursor: pointer;
  transition: all .5s ease;
}

.open {
  left: 320px;
}

.side-menu {
  z-index: 100;
  position: fixed;
  top: 0;
  left: -310px;
  bottom: 0;
  width: 300px;
  box-shadow: 5px 5px 5px rgba(90,90,90,1);
  background-color: white;
  transition: all .5s ease;
}

.side-menu-open {
  left: 0px;
}

.side-menu-item {
  padding: 24px 15px 24px 15px;
  font-size: 150%;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.side-menu-item:hover {
 background-color: lightgray;
}

.screen-overlay {
  position: fixed;
  z-index: -10;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(110,110,110,0.0);
  transition: background-color .5s ease;
}

.screen-overlay-open {
  z-index: 7;
  background-color: rgba(110,110,110,0.8);
}

#menu-header {
  background-color: lightgray;
  cursor: default;
}

.menu-icon {
  margin-right: 10px;
}

.button {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
}

